<div>
  <form>
    <input type='email' name="email" required placeholder="Email" [(ngModel)]="user.email">
    <input *ngIf="false && waitingCode" type='text' name="code" required placeholder="Verification Code" [(ngModel)]="verificationCode">
    <button *ngIf="true || !waitingCode" type="button" (click)="sendPasswordResetEmail()">
      <span *ngIf="!waitingCode">Send Reset Code to my e-Mail</span>
      <span *ngIf="waitingCode">Resend Reset Code to my e-Mail</span>
    </button>
    <button *ngIf="false && waitingCode" type="button" (click)="verifyPasswordResetCode()">
      <span>Verify Code</span>
    </button>
  </form>
</div>
<hr/>
<button (click)="signInWithGoogle()">Sign In with Google</button>
<hr/>
<a [routerLink]="'/signin'">Sign In</a>
