<div class="container">
  <h1 class="welcome text-center">Welcome to <br> To-Do App</h1>
  <div class="card card-container">
    <h2 class='signin-title text-center'>Forgot Password</h2>
    <hr>
    <form class="form">

      <span class="reauth-email"></span>
      <p class="input-title">Email</p>
      <input type="text" class="signin-box" placeholder="Your e-mail" name="email" required autofocus [(ngModel)]="user.email">

      <span *ngIf="false" class="reauth-email"></span>
      <p *ngIf="false" class="input-title">Verification Code</p>
      <input *ngIf="false" type="text" class="signin-box" placeholder="Verification Code" name="code" required autofocus [(ngModel)]="verificationCode">

      <button *ngIf="true || !waitingCode" class="btn btn-lg btn-primary" type="button" (click)="sendPasswordResetEmail()">
        <span *ngIf="!waitingCode">Send me a reset link</span>
        <span *ngIf="waitingCode">Resend me a reset link</span>
      </button>
      <button *ngIf="false && waitingCode" class="btn btn-lg btn-primary" type="button" (click)="verifyPasswordResetCode()">
        <span>Verify Code</span>
      </button>

      <hr />
      <span class="input-title">Or Sign In with</span>
      <button class="btn btn-lg btn-default" (click)="signInWithGoogle()">
        <i class="fa fa-google fa-2x" style="color: #db3236;"></i>
      </button>

      <hr />
      <span class="input-title">Or</span>
      <a [routerLink]="['/signup']">
        <button type="button" class="btn btn-default btn-lg" >Sign Up</button>
      </a>

    </form>
  </div>
  <div class="card card-container text-center">
    <br />
    <span class="m-md input-title">Developed by Hansel Ramos &copy; 2017</span>
  </div>
</div>

