<div *ngIf="user" class="login-info">
  <span *ngIf="user.email">({{user.email}})</span>
  <button (click)="logout()">Logout</button>
</div>
<div>
  <h1>
    Home
  </h1>
  <div>
    <ul *ngIf="user && user.tasks">
      <li *ngFor="let task of user.tasks">
        <a [routerLink]="['/task/',task.key]">
          <span *ngIf="!task.name" class="loading-info">loading task info...</span>
          <span *ngIf="task.priority">{{task.priority}}</span>
          <span *ngIf="task.name">{{task.name}}</span>
          <span *ngIf="task.dueDate">{{task.dueDate | date}}</span>
        </a>
        <button (click)="deleteTask(task)">Delete</button>
      </li>
    </ul>
    <app-task-new *ngIf="showingNewTaskForm" (onCancel)="hideNewTaskForm()"></app-task-new>
    <button *ngIf="!showingNewTaskForm" type="button" (click)="showNewTaskForm()">New Task</button>
  </div>
</div>
