<div class="task-detail row">
  <div class="col-sm-2 text-center-xs">
    <div class="checkbox">
      <label style="font-size: 2em">
        <input type="checkbox" value="" checked>
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
      </label>
    </div>
  </div>
  <div class="col-sm-9 text-center-xs" (click)="select()">
    <span class="task-name">{{task.name}}</span><br />
    <span class="task-due-date">{{task.dueDate | date}}</span>
  </div>
  <div class="col-sm-1 text-center-xs" (click)="select()">
    <div class="block inline-block-sm">
      <i class="fa fa-star"></i>
    </div>
    <div class="block inline-block-sm">
      <i *ngIf="task.priority >= 2" class="fa fa-star"></i>
    </div>
    <div class="block inline-block-sm">
      <i *ngIf="task.priority >= 3" class="fa fa-star"></i>
    </div>
  </div>
</div>
