<form (submit)="save(); $event.stopPropagation();">
<div class="card card-container-full">
  <div class="card-header">
    <h1>Edit Task {{task.name}}</h1>
  </div>
  <div class="card-body">

    <div class="form">
      <span class="reauth-email"></span>
      <p class="input-title">Name</p>
      <input type="text" class="signin-box" placeholder="Task name" name="name" autofocus [(ngModel)]="editableTask.name" required="true">

      <span class="reauth-email"></span>
      <p class="input-title">Due Date</p>
      <input type="date" class="signin-box" placeholder="Due Date" name="dueDate" [(ngModel)]="editableTask.dueDate" required>

      <span class="reauth-email"></span>
      <p class="input-title">Priority</p>
      <div class="radio">
        <label style="font-size: 2em">
          <input type="radio" value="1" name="priority" [ngClass]="{'checked': editableTask.priority == 1}" [(ngModel)]="editableTask.priority">
          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
          <span>
            <i class="fa fa-star"></i>
          </span>
        </label>
      </div>
      <div class="radio">
        <label style="font-size: 2em">
          <input type="radio" value="2" name="priority" [ngClass]="{'checked': editableTask.priority == 2}" [(ngModel)]="editableTask.priority">
          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </label>
      </div>
      <div class="radio">
        <label style="font-size: 2em">
          <input type="radio" value="3" name="priority" [ngClass]="{'checked': editableTask.priority == 3}" [(ngModel)]="editableTask.priority">
          <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
        </label>
      </div>

    </div>

  </div>
  <div class="card-footer">
    <div class="pull-left">
      <button class="btn btn-danger  btn-lg" type="button" (click)="delete()">Delete</button>
    </div>
    <div class="pull-right">
      <button class="btn btn-primary  btn-lg" type="submit">Save</button>
      <button type="button" class="btn btn-default btn-lg" (click)="cancel()">Back</button>
    </div>
  </div>
</div>
  </form>
